In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)

In [2]:
# store the data to hdf format for faster I/O
# df = pd.read_excel("../data/Online Retail.xlsx")
# df.to_hdf('../data/online_retail.h5','original')
df_original = pd.read_hdf('../data/online_retail.h5','original')

# count missing values
df_original.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [3]:
# remove rows without a customer id
df_clean = df_original[df_original.CustomerID.notnull()].copy()

# convert columns to appropriate data types
df_clean.CustomerID = df_clean.CustomerID.astype(int)
df_clean.StockCode = df_clean.StockCode.apply(str)

# remove canceled items
canceled = df_clean[df_clean.Quantity < 0]
canceled = canceled[['CustomerID','StockCode','Quantity']]
df_clean = df_clean.merge(canceled,how='left',on=['CustomerID','StockCode'],suffixes=('', '_c'))
df_clean.Quantity_c = df_clean.Quantity_c.fillna(0)
df_clean.Quantity = df_clean.Quantity + df_clean.Quantity_c
df_clean.drop('Quantity_c',axis=1,inplace=True)

# remove non-commodity rows
df_clean = df_clean[(df_clean.Quantity > 0) & (~df_clean.StockCode.isin(['BANK CHARGES', 'C2', 'DOT', 'PADS', 'POST','M']))]

unique_StockCode = df_clean.StockCode.apply(str).sort_values().unique()
new_StockCode_df = pd.DataFrame({'StockCode':unique_StockCode,'NewStockCode':np.arange(len(unique_StockCode))})
new_StockCode_df.NewStockCode = new_StockCode_df.NewStockCode.astype(int)
df_clean = df_clean.merge(new_StockCode_df,how = 'left',on='StockCode')

# remove customers with less then 4 orders
num_invoices = df_clean.groupby('CustomerID')['InvoiceNo'].unique().apply(len)
customers_to_use = num_invoices[num_invoices > 3].index
df_clean = df_clean[df_clean.CustomerID.isin(customers_to_use)]

# combine duplicated products in each invoice
df_clean.Quantity = df_clean.Quantity.astype(int)
sum_Quantity = pd.DataFrame(df_clean.groupby(['InvoiceNo','NewStockCode'])['Quantity'].sum())
df_clean = df_clean.set_index(['InvoiceNo','NewStockCode']).\
        merge(sum_Quantity,left_index=True,right_index=True,suffixes=('_', '')).reset_index()
df_clean.drop_duplicates(['InvoiceNo','NewStockCode'],inplace=True)
df_clean.drop('Quantity_',axis=1,inplace=True)
# df.head()

In [4]:
# extract products and customers to seperate tables
products = df_clean[['NewStockCode','Description']].sort_values(['NewStockCode','Description']).\
            drop_duplicates('NewStockCode').reset_index(drop=True)
customers = df_clean.sort_values('CustomerID')[['CustomerID','Country']].drop_duplicates('CustomerID').reset_index(drop=True)

In [5]:
# extract orders to a seperate table
orders = df_clean[['CustomerID','InvoiceNo','InvoiceDate']].sort_values(['CustomerID','InvoiceDate']).\
            drop_duplicates('InvoiceNo')

# create new features based on the InvoiceDate feature
orders['order_number'] = orders.groupby('CustomerID').cumcount() + 1
orders['order_dow'] = orders.InvoiceDate.dt.dayofweek
orders['order_hour_of_day'] = orders.InvoiceDate.dt.hour
orders['days_since_prior_order'] = (orders.InvoiceDate - orders.groupby('CustomerID')['InvoiceDate'].shift(1)).dt.days

# split all orders into 'prior', 'train' and 'test'
last_orders = orders.groupby('CustomerID')['order_number'].max().reset_index()
n_customers = last_orders.shape[0]
split_point = int(np.ceil(n_customers * 0.8))
random_index = np.random.choice(n_customers,n_customers,replace=False)
train_index = random_index[:split_point]
test_index = random_index[split_point:]
last_orders['eval_set'] = 'placeholder'
last_orders['eval_set'].iloc[train_index] = 'train'
last_orders['eval_set'].iloc[test_index] = 'test'
orders = orders.merge(last_orders,how='left',on=['CustomerID','order_number'])
orders.eval_set = orders.eval_set.fillna('prior')
# orders.head()

C:\Users\xwen\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
# create a new table to show what products are in each order
# and calculate add to cart order
order_products = df_clean[['InvoiceNo','NewStockCode','Quantity','UnitPrice']].copy()
order_products['add_to_cart_order'] = order_products.groupby('InvoiceNo').cumcount() + 1
order_products = order_products.merge(orders[['InvoiceNo','eval_set']],how='left',on='InvoiceNo')
# order_products.head()

In [7]:
d = {}
for row in order_products.itertuples():
    InvoiceNo = row.InvoiceNo
    try:
        d[InvoiceNo] += ' ' + str(row.NewStockCode)
    except:
        d[InvoiceNo] = str(row.NewStockCode)

order_products_compact = pd.DataFrame.from_dict(d, orient='index')

order_products_compact.reset_index(inplace=True)
order_products_compact.columns = ['InvoiceNo', 'NewStockCode']
order_products_compact.NewStockCode = order_products_compact.NewStockCode.str.split()
order_products_compact.sort_values('InvoiceNo',inplace=True)
order_products_compact = order_products_compact.merge(orders[['InvoiceNo','eval_set']],how='left',on='InvoiceNo')

In [8]:
%%time
# calculate whether a product has been ordered before
# takes a long time
def previous_orders(InvoiceNo):
    row = orders[orders.InvoiceNo == InvoiceNo]
    CustomerID = int(row.CustomerID)
    order_number = int(row.order_number)
    prev_ord_nums = range(1,order_number)
    df = orders[(orders.CustomerID == CustomerID)&(orders.order_number.isin(prev_ord_nums))]
    return df.InvoiceNo.values

def previous_items(InvoiceNo):
    prev_ord = previous_orders(InvoiceNo)
    df = order_products[order_products.InvoiceNo.isin(prev_ord)]
    return df.NewStockCode.unique()

prev_item_dict = {}
count = 0
for inv_no in orders.InvoiceNo.values:
    prev_item_dict[inv_no] = previous_items(inv_no)

order_products['reordered'] = -1
for i in range(order_products.shape[0]):
    prev_items = prev_item_dict[order_products.iloc[i].InvoiceNo]
    order_products.iloc[i,-1] = int(row.NewStockCode in prev_items)

Wall time: 15min 1s

In [34]:
# rename columns to make them cleaner and easier to understand
df_clean.columns = ['order_id', 'product_id', 'product_id_original', 'description', 'order_date',
                   'unit_price', 'user_id', 'country', 'quantity']
orders.columns = ['user_id', 'order_id', 'order_date', 'order_number', 'order_dow',
                   'order_hour_of_day', 'days_since_prior_order', 'eval_set']
products.columns = ['product_id', 'description']
customers.columns = ['user_id', 'country']
order_products.columns = ['order_id', 'product_id', 'quantity', 'unit_price', 'add_to_cart_order', 'eval_set', 'reordered']
order_products_compact.columns = ['order_id', 'product_id', 'eval_set']

In [35]:
# save data to hdf
df_clean.to_hdf('../data/online_retail.h5','clean')
orders.to_hdf('../data/online_retail.h5','orders')
products.to_hdf('../data/online_retail.h5','products')
customers.to_hdf('../data/online_retail.h5','customers')
order_products.to_hdf('../data/online_retail.h5','order_products')
order_products_compact.to_hdf('../data/online_retail.h5','order_products_compact')

C:\Users\xwen\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\generic.py:1138: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['product_id', 'eval_set']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [36]:
df_clean.head()

,order_id,product_id,product_id_original,description,order_date,unit_price,user_id,country,quantity
0,536365,749,21730,GLASS STAR FROSTED T-LIGHT HOLDER,2010-12-01 08:26:00,4.25,17850,United Kingdom,10
2,536365,1599,22752,SET 7 BABUSHKA NESTING BOXES,2010-12-01 08:26:00,7.65,17850,United Kingdom,2
3,536365,2639,71053,WHITE METAL LANTERN,2010-12-01 08:26:00,3.39,17850,United Kingdom,6
4,536365,2789,84029E,RED WOOLLY HOTTIE WHITE HEART.,2010-12-01 08:26:00,3.39,17850,United Kingdom,6
5,536365,2790,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2010-12-01 08:26:00,3.39,17850,United Kingdom,6

In [37]:
orders.head()

,user_id,order_id,order_date,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval_set
0,12347,537626,2010-12-07 14:57:00,1,1,14,NaN,prior
1,12347,542237,2011-01-26 14:30:00,2,2,14,49.0,prior
2,12347,549222,2011-04-07 10:43:00,3,3,10,70.0,prior
3,12347,556201,2011-06-09 13:01:00,4,3,13,63.0,prior
4,12347,562032,2011-08-02 08:48:00,5,1,8,53.0,prior

In [38]:
products.head()

   product_id                  description
0           0  INFLATABLE POLITICAL GLOBE
1           1     GROOVY CACTUS INFLATABLE
2           2                 DOGGY RUBBER
3           3        HEARTS WRAPPING TAPE
4           4  SPOTS ON RED BOOKCOVER TAPE

In [39]:
customers.head()

   user_id  country
0    12347  Iceland
1    12348  Finland
2    12352   Norway
3    12359   Cyprus
4    12362  Belgium

In [40]:
order_products.head()

,order_id,product_id,quantity,unit_price,add_to_cart_order,eval_set,reordered
0,536365,749,10,4.25,1,prior,0
1,536365,1599,2,7.65,2,prior,0
2,536365,2639,6,3.39,3,prior,0
3,536365,2789,6,3.39,4,prior,0
4,536365,2790,6,3.39,5,prior,0

In [41]:
order_products_compact.head()

   order_id                                         product_id eval_set
0    536365          [749, 1599, 2639, 2789, 2790, 2842, 3227]    prior
1    536366                                             [1484]    prior
2    536367  [765, 766, 777, 1185, 1473, 1474, 1592, 1595, ...    prior
3    536368                           [1752, 1753, 1754, 1799]    prior
4    536369                                              [767]    prior